.card__item{
    width: 100%;
    height: 400px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.card__item__picture{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__item__img{
    height: 400px;
    width: 600px;
}

.card__item__info{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;
}

.card__item__title{
    flex: 1;
    font-size: 35px;
}

.card__item__language{
    flex: 1;
    color: grey;
    display: flex;
    align-items: center;
}

.card__item__text{
    flex: 3;
    font-size: 18px;
    font-weight: 100;
    font-family: sans-serif;
}

.card__item__button__list{
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.spacing{
    margin: 0 7px;
}



@media screen and (max-width: 960px){

    .card__item{
        flex-direction: column;
        height: 700px;
    }

    .card__item__img{
        height: 300px;
        width: 500px;
    }


    .card__item__text{
        font-size: 16px;
        font-weight: 100;
        font-family: sans-serif;
    }
    
    
}